
.top-buffer {
    margin-top: 10px;
}

.CodeMirror {
    border: 1px solid black;
    font-size: 13px
}

.axis > .tick > text {
    word-wrap: break-word;
}

.headerActive {
    background-color: red;
}

.googleMap {
    width: 100%;
    max-width: 100%;
    height: 500px;
}

.area {
    fill: #C0C0C0;
    stroke: none;
}

.boundary {
    fill: none;
    stroke: #777;

}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

#svgMap {
    width: 100%;
    height: 100%;
}

.svgmap {
    margin-left: 10px;
    margin-bottom: 10px;
}
