<head>
    <title>index</title>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8shH7uf30GbAWTRFAiWPzcIY1grpw9Xc"></script>-->
    <script src="//d3js.org/topojson.v1.min.js"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.min.js"></script>


</head>

<body>


</body>


