<template name="navbar2">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="col-md-10 col-md-offset-1">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">JODI</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">Link</a></li>-->
                    <li><a href="/csv_data">CSV Data</a></li>
                    <li><a href="/api_data">API Data {Dev Only}</a></li>
                    <!--<li><a href="#">Link</a></li>-->
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#">Link</a></li>-->
                    <!--<li><a href="#">Link</a></li>-->
                    <li><a href="/load_data">Load Data</a></li>

                </ul>

                <!--<form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control pull-right" style="width: 300px; margin-right: 35px; border: 1px solid black; background-color: #e5e5e5;" placeholder="Search">
                        <span class="input-group-btn">
							<button type="reset" class="btn btn-default">
								<span class="glyphicon glyphicon-remove">
									<span class="sr-only">Close</span>
								</span>
							</button>
							<button type="submit" class="btn btn-default">
								<span class="glyphicon glyphicon-search">
									<span class="sr-only">Search</span>
								</span>
							</button>
						</span>
                    </div>
                </form>-->

                <!--<form class="navbar-form searchForm" role="search">-->
                <!--<div class="input-group col-md-4 ">-->
                <!--<input type="text" class="form-control inputSearch" list="searchData" placeholder="Search" name="searchTarm">-->
                <!--<datalist id="searchData"></datalist>-->
                <!--<div class="input-group-btn">-->
                <!--<button class="btn btn-default searchBtn" type="submit"><i class="glyphicon glyphicon-search"></i></button>-->
                <!--</div>-->
                <!--</div>-->
                <!--</form>-->


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</template>