<template name="tab_csv">
    {{>navbar2}}
    <div class="col-md-1"></div>

    <div class="col-md-10">
    <!--<form class="editorform">-->
        <div id="editor">
            <!--<div id="editor">-->
            <textarea id="codemirror_id" name="codemirror_nme" placeholder="sad"></textarea>
            <!--</div>-->
            <!--<textarea cols="60" rows="20" class="form-control" id="CSVarea" spellcheck="false"></textarea>-->
        </div>
        <br>
        <div class="pull-right btn-toolbar">
            <!--<span class="pull-right">  </span>-->
            <button id="clear_editor" class="btn-danger btn ClearCSV" style="display: none">Clear</button>
            <button id="process_edit_btn" class="btn-success btn ProcessCSV" style="display: none">Process</button>

        </div>


        <div id="fileUpload">
            <div class="col-lg-5 col-sm-6 col-12">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span id="innerFileUpload" class="btn btn-primary">
                            Browse&hellip; <input class="csv_upload" type="file" style="display: none;">
                        </span>
                    </label>
                    <input id="csvFileName" type="text" class="form-control" readonly>
                </div>
            </div>
        </div>

        <!--</form>-->
        <label id="message" class="pull-left"></label>
        <br>
        <br>
        <!--<div>-->
        <!--<form>-->
        <div id="datasetStorePanel" class="" style="display: none">
            <!--<div class="container">-->
            <!--        <div class="form-group row">
                        <div class="col-md-3 col-sm-6 col-xs-6 col-form-label">
                            <label for="csvDataName" class="">CSV data set name</label>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <input type="text" class="csvDataName col-form-label" id="csvDataName"
                                   style="border: 1px solid lightgray; border-radius: 4px; padding: 6px; color: grey; width: 100% ">
                        </div>
                    </div>


                    <div class="row">
                        <button id="storeDataBtn" class=" btn btn-success col-md-2 col-sm-2 col-xs-2 storeDataBtn" disabled>
                            Store
                        </button>
                    </div>
        -->

            <div class="container">
                <form id="DataSetStore">
                    <div class="form-group row">
                        <label for="csvDataName" class="col-md-3 col-sm-6 col-xs-6 col-form-label">CSV Data Set
                            Name: </label>
                        <div class="col-sm-10">
                            <input type="text" class="csvDataName col-form-label" id="csvDataName"
                                   placeholder="CSV Data set Name"
                                   style="border: 1px solid lightgray; border-radius: 4px; padding: 6px; color: grey; width: 100% ">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="PersonName" class="col-md-3 col-sm-6 col-xs-6 col-form-label">Your Name: </label>
                        <div class="col-sm-10">
                            <input type="text" class="PersonName col-form-label" id="PersonName" placeholder="Your Name"
                                   style="border: 1px solid lightgray; border-radius: 4px; padding: 6px; color: grey; width: 100% ">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="DataSource" class="col-md-3 col-sm-6 col-xs-6 col-form-label">Data Source: </label>
                        <div class="col-sm-10">
                            <input type="text" class="DataSource col-form-label" id="DataSource"
                                   placeholder="Data Source"
                                   style="border: 1px solid lightgray; border-radius: 4px; padding: 6px; color: grey; width: 100% ">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button id="storeDataBtn"
                                    class=" btn btn-success col-md-2 col-sm-2 col-xs-2 storeDataBtn pull-right"
                                    disabled>
                                Store
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--</div>-->
        </div>
        <!--</form>-->
        <!--</div>-->
        <br>


        {{>visualisation_all}}

    </div>
    <div class="col-md-1"></div>
    <!--<div id="panel" style="display: none">
        <div id="HeaderConfig">

        </div>
        <div id="HeaderConfigBtns">

        </div>

        &lt;!&ndash;<div id="delHeadersPanel" style="display: none" >&ndash;&gt;
        <div id="restoreHeadersModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="griModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridModalLabel">Restore Deleted Labels</h4>
                    </div>
                    <div id="restoreModelBody" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Done</button>
                        &lt;!&ndash;<button type="button" class="btn btn-primary">Save changes</button>&ndash;&gt;
                    </div>
                </div>
            </div>
        </div>
        &lt;!&ndash;</div>&ndash;&gt;
    </div>
    <br>
    <br>

    <div id="visualMenu" style="display: none">
        <div class="row">
            <div class="col-md-12">
                <div class="panel with-nav-tabs panel-info">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a class="chartTabs" href="#ChartsMenuTab" data-toggle="tab">Charts
                                Menu</a></li>
                            <li><a class="chartTabs" href="#MapsMenuTab" data-toggle="tab">Maps Menu</a></li>
                            &lt;!&ndash;<li><a href="#tab3info" data-toggle="tab">Info 3</a></li>&ndash;&gt;
                            &lt;!&ndash;<li><a href="#tab4info" data-toggle="tab">info 4</a></li>&ndash;&gt;
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="ChartsMenuTab">

                            </div>
                            <div class="tab-pane fade" id="MapsMenuTab">
                                Maps
                            </div>
                            &lt;!&ndash;<div class="tab-pane fade" id="tab3info">Info 3</div>&ndash;&gt;
                            &lt;!&ndash;<div class="tab-pane fade" id="tab4info">Info 4</div>&ndash;&gt;
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="charts" style="display: none; margin-top: 10px">
        <div id="ChartsSvg">
            <div id="chartsPanel" class="col-md-4"
                 style="background: #d3d3d3; margin-bottom: 5px; text-align: center">
                <div id="headerLabelGroup" class="btn-group-vertical col-md-12" style="margin: 5px">

                </div>
                &lt;!&ndash;<button type="button" id="pers_chart" class="btn btn-primary"></button>&ndash;&gt;
                &lt;!&ndash;<button id='pers_chart' style='display: none' data-toggle='modal' data-target='#restoreHeadersModal' class='btn-warning btn restoreDeleted'>Restore Deleted <span class='glyphicon glyphicon-refresh'></span></button>&ndash;&gt;


                <br>
                <div id="xAxisLblsDiv" style="display: none; margin-top: 10px">
                    Please choose X axis Label
                    <label for="xAxisLabels"></label><select id="xAxisLabels" class="form-control"
                                                             style="margin: 5px; text-align: left;">

                </select>
                </div>

            </div>
            <div id="chartBody" class="col-md-8">
                <svg id="svgChar" class=""></svg>
                <div id="svgMap" class="row col-md-12">
                </div>

            </div>
        </div>

    </div>

    <div id="exportChart" class="col-md-12"
         style="background: #F5F5F5; padding-bottom:30px; display: none; margin-top: 10px">
        <div class="col-md-4" style="padding: 10px;">
            <h3>
                <i class="fa fa-download fa-fw"></i>
                Download Chart
            </h3>
            <input id="downloadFileName" placeholder="File Name" type="text"
                   class="downloadFileName form-control col-sm-6 col-xs-12 col-md-7"
                   style="border: 1px solid lightgray; border-radius: 4px; padding: 6px; color: grey; ">
            <button id="downloadCharBtn" class="downloadCharBtn form-control btn bt col-sm-4 col-xs-7 col-md-5" disabled
                    style="border: 1px solid lightgray; border-radius: 3px; padding: 6px; color: grey; background: #5ae860; margin:10px 0; cursor: auto">
                Download Image
            </button>
        </div>
        <div class="col-md-8" style="padding: 10px;">
            <h3>
                <i class="fa fa-code fa-fw"></i>
                Embed Code
            </h3>
            <textarea id="chartEmbedTxt" class="col-md-12 col-sm-12 col-xs-12 " readonly
                      style="border: 1px solid lightgray; border-radius: 8px; padding: 6px 10px; height: 150px; color: #999999;"></textarea>
            &lt;!&ndash;<div style="margin: 30px; padding-top: 10px">&ndash;&gt;
            <p style="padding-top: 5px; color: lightslategrey; " class="pull-left">Copy the above svg code to your HTML
                code to embed the chart. </p>
            <button class="clipboardBtn btn pull-right"
                    style="background: transparent; border: 2px solid grey; border-radius: 8px; margin: 5px"
                    data-clipboard-target="#chartEmbedTxt" data-toggle='tooltip' data-placement='top'
                    title='Copy to Clipboard'>
                <i class="fa fa-clipboard"></i>
                &lt;!&ndash;<img src="assets/clippy.svg" alt="Copy to clipboard">&ndash;&gt;
            </button>
            &lt;!&ndash;</div>&ndash;&gt;
        </div>
    </div>-->


</template>