<template name="tabs_panel">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tabCSV" data-toggle="tab">CSV Copy</a></li>
                        <li><a href="#tabPDF" data-toggle="tab">PDF</a></li>
                        <!--<li><a href="#tab3info" data-toggle="tab">Info 3</a></li>-->
                        <!--<li><a href="#tab4info" data-toggle="tab">info 4</a></li>-->
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tabCSV">

                            {{>tab_csv}}

                        </div>
                        <div class="tab-pane fade" id="tabPDF">

                            <form action="" method=post enctype=multipart/form-data>
                                <input type=file name=file>
                                    <input type=submit value=Upload>
                            </form>

                        </div>
                        <!--<div class="tab-pane fade" id="tab3info">Info 3</div>-->
                        <!--<div class="tab-pane fade" id="tab4info">Info 4</div>-->
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</template>