<template name="tab_csv">
    <!--<form class="editorform">-->
    <div id="editor">
        <div id="editor">
            <textarea id="codemirror_id" name="codemirro_nme" placeholder="sad"></textarea>
        </div>
        <!--<textarea cols="60" rows="20" class="form-control" id="CSVarea" spellcheck="false"></textarea>-->
    </div>
    <br>
    <div class="pull-right btn-toolbar">
        <!--<span class="pull-right">  </span>-->
        <button id="clear_editor" class="btn-danger btn ClearCSV" style="display: none">Clear</button>
        <button id="process_edit_btn" class="btn-success btn ProcessCSV" style="display: none">Process</button>

    </div>
    <!--</form>-->
    <label id="message"></label>
    <br>
    <br>

    <div id="panel" style="display: none">
        <div id="HeaderConfig">

        </div>
        <div id="HeaderConfigBtns">

        </div>

        <!--<div id="delHeadersPanel" style="display: none" >-->
        <div id="restoreHeadersModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="griModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridModalLabel">Restore Deleted Labels</h4>
                    </div>
                    <div id="restoreModelBody" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Done</button>
                        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->
    </div>
    <br>
    <br>

    <div id="visualMenu" style="display: none">
        <div class="row">
            <div class="col-md-12">
                <div class="panel with-nav-tabs panel-info">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a class="chartTabs" href="#ChartsMenuTab" data-toggle="tab">Charts
                                Menu</a></li>
                            <li><a class="chartTabs" href="#MapsMenuTab" data-toggle="tab">Maps Menu</a></li>
                            <!--<li><a href="#tab3info" data-toggle="tab">Info 3</a></li>-->
                            <!--<li><a href="#tab4info" data-toggle="tab">info 4</a></li>-->
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="ChartsMenuTab">

                            </div>
                            <div class="tab-pane fade" id="MapsMenuTab">
                                Maps
                            </div>
                            <!--<div class="tab-pane fade" id="tab3info">Info 3</div>-->
                            <!--<div class="tab-pane fade" id="tab4info">Info 4</div>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="charts" style="display: none; margin-top: 10px">
        <div id="ChartsSvg">
            <div id="chartsPanel" class="col-md-4"
                 style="background: #d3d3d3; margin-bottom: 5px; text-align: center">
                <div id="headerLabels" class="btn-group-vertical col-md-12" style="margin: 5px">

                </div>


                <br>
                <div id="xAxisLblsDiv" style="display: none; margin-top: 10px">
                    Please choose X axis Labels
                    <label for="xAxisLabels"></label><select id="xAxisLabels" class="form-control"
                                                             style="margin: 5px; text-align: left;">

                </select>
                </div>

            </div>
            <div id="chartBody" class="col-md-7" style="margin-left: 20px">
                <svg id="svgChar"></svg>

            </div>
        </div>

    </div>


</template>